.Home{
  width: 100%;
}
.Tg {
  height: 70%;
  margin-top: 10px;
  padding: 20px;
  background-color: honeydew;
  border: 2px solid blue;
 

}
.Tg-flex {
  display: flex;
  flex-wrap: wrap;
}
.Tg img {
  height: 300px;
  width: 300px;
  padding: 5px; 
  margin-left: -10px;
  flex: 25%;
}
